.simple-button {
	width:70px;
	padding:10px;
	margin:2px;
	border:1px solid transparent;	
}

.cancel {
	@extend .simple-button;
	background-color:gray;
	cursor:hand;
}

.confirm {
	@extend .simple-button;
	background-color:green;
	cursor:hand;
}

.save {
	@extend .simple-button;	
	background-color:blue;
	cursor:hand;
}
